body {
  background-color: #F0ECE3;
}

h1 {
  color: #A68DAD;
}

h3 {
  color: #89B5AF;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}
